extends layout

block content
  h1= title
  - let items = result;
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch(\"/dogs/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") 
          | Item #{item.dogName}(#{item.dogAge}) is #{item.DogPrice}
          button.btn(class="btn-primary ml-1", onclick= destination) Update

  script.
    function buy(param) {
      console.log(param);
    }

  script.
    function dispatch(path){
      window.location.href=path
    }

