extends layout
block content
  h1= title
   - let results = result;
  div(class="row")
    each value,index  in results
      div(class="col-sm-2", onclick=`buy(${index})`) #{value.dogName}, #{value.dogAge}, #{value.DogPrice}
  script.
    function buy(param)
    {
        console.log(param);
    }

